<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body> 
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <div id="app">
        <img @mouseover="toggleShowPrices"
            @mouseout="toggleShowPrices"
            :src="img" :alt="name" 
            width="100px" height="100px">
        <h1>
            {{  name }}
            <span v-if="changePercent > 0">👍</span>
            <span v-else-if="changePercent < 0">😢</span>
            <span v-else>🤞</span>
            <span @click="toggleShowPrices">{{ showPrices ? '😎' : '😢' }}</span><!--@click="toggleShowPrices" es la abreviacion de la directiva v-on:click="toggleShowPrices"-->
        </h1>
        
        <ul v-show="showPrices">
            <li v-for="(p, i) in pricesWithDays" :key="p.day">
                {{ i }} - {{ p.day }} - {{ p.value }}
            </li>
        </ul>
    </div>
    <script src="app.js"></script>
</body>
</html>