#app{
    display: grid;
    height: 100vh;
    background-color: #f2f2f2;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20%;
}

.inputs{
    grid-column-start: 3;
    grid-column-end: 3;
    margin: auto;
    margin-top: 50px;
}

.buttons{
    display: block ruby;
}

button{
    border-radius: 5px;
}

button:hover{
    cursor: pointer;
}

hr{
    color: #0468BF;
}

span{
    color: #0477BF;
}

li{
    list-style: none;
}

.list{
    display: grid;
    grid-row-start: 3;
    grid-column-start: 3;
    grid-column-end: 3;
}

.list-header{
    margin: auto;
}

#list-p{
    margin: auto;
}

.red {
    color: tomato;
}